# Awesome Testflight App List
Collect Public Testflight app URL's (iOS/iPad OS/macOS), feel free to create a issue.

## Available Status
* F: Full
* N: No
* D: Removed
* Y: Yes

#{chinese}

#{ios}

#{ios_game}

#{macos}

#{signup}
